# FHIR IG Publisher local build directories #
#############################################
qa
temp
txCache

# link to au-fhir-base resources #
##################################
resources/link_to_au-fhir-base-r4_resources

