# FHIR IG Publisher local build directories #
#############################################
output
qa
temp
txCache

# link to au-fhir-base resources #
##################################
resources/link_to_au-fhir-base-r4_resources

# unnecessary build files
ig.ini
resources/ig-expansion-parameters.json
resources/ig-new.json
resources/ig-new.xml
resources/ig-validation-parameters.json

# terminology workaround resources
resources/au-observation-category.xml
resources/australian-indigenous-status-1.xml
resources/australian-immunisation-register-vaccine.xml
resources/australian-benefit-payment-category-1.xml
resources/australian-states-territories-1.xml
resources/date-accuracy-indicator-1.xml
resources/ihi-record-status-1.0.2.xml
resources/ihi-status-1.xml
resources/nctis-data-components-1.xml
resources/separation-mode-1.xml
resources/valueset-advance-care-planning-document-type-1.xml
resources/valueset-adverse-reaction-agent-1.xml
resources/valueset-assertion-of-absence-1.xml
resources/valueset-amt-vaccine-1.xml
resources/valueset-au-observation-category-extended.xml
resources/valueset-australian-indigenous-status-1.xml
resources/valueset-australian-immunisation-register-vaccine-1.xml
resources/valueset-australian-medicare-benefit-claim-category-1.xml
resources/valueset-australian-states-territories-2.xml
resources/valueset-australian-medication-1.xml
resources/valueset-body-site-1.xml
resources/valueset-body-site-relative-site-qualifier-1.xml
resources/valueset-organ-donation-body-site-1.xml
resources/valueset-clinical-condition-1.xml
resources/valueset-clinical-finding-1.xml
resources/valueset-clinical-specialty-1.xml
resources/valueset-common-languages-in-australia-2.xml
resources/valueset-contact-relationship-type-3.xml
resources/valueset-date-accuracy-indicator-1.xml
resources/valueset-diagnosticreportstatus-report-available-1.xml
resources/valueset-encounter-type-1.xml
resources/valueset-evaluation-procedure-1.xml
resources/valueset-healthcare-organisation-role-type-1.xml
resources/valueset-healthcare-service-type-1.xml
resources/valueset-health-program-participation-status-1.json
resources/valueset-health-summary-non-clinical-empty-reason-2.xml
resources/valueset-history-of-medication-use-list-type-1.xml
resources/valueset-hypersensitivity-or-intolerance-to-substance-2.xml
resources/valueset-immunisation-anatomical-site-1.xml
resources/valueset-immunisation-route-of-administration-1.xml
resources/valueset-indicator-packed-in-daa-1.xml
resources/valueset-individual-healthcare-identifier-record-status-1.xml
resources/valueset-individual-healthcare-identifier-status-1.xml
resources/valueset-medication-form-1.xml
resources/valueset-medication-reason-taken-1.xml
resources/valueset-medicine-substitution-reason-1.xml
resources/valueset-medicines-review-type-2.xml
resources/valueset-metric-body-length-units-1.xml
resources/valueset-metric-body-weight-units-1.xml
resources/valueset-ncspp-document-type-1.xml
resources/valueset-non-clinical-empty-reason-2.xml
resources/valueset-observationstatus-result-available-1.xml
resources/valueset-organ-donation-body-site-1.xml
resources/valueset-participation-in-health-program-1.json
resources/valueset-practitioner-role-1.xml
resources/valueset-prescription-dispense-list-type-1.xml
resources/valueset-procedure-1.xml
resources/valueset-reason-for-request-1.xml
resources/valueset-reason-vaccine-administered-1.xml
resources/valueset-reason-vaccine-not-administered-1.xml
resources/valueset-related-person-relationship-type-1.xml
resources/valueset-route-of-administration-1.xml
resources/valueset-separation-mode-1.xml
resources/valueset-service-type-1.xml
resources/valueset-specimen-type-1.xml
resources/valueset-substance-1.xml
resources/valueset-vaccination-target-disease-1.xml

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar