</div>  <!-- /container -->
</div>  <!-- /segment-breadcrumb -->

<div id="segment-content" class="segment">  <!-- segment-content -->
<div class="container">  <!-- container -->
<div class="row">
<div class="inner-wrapper">


<div class="col-12">

    <!--ReleaseHeader-->
    <p id="publish-box">Australian Digital Health Agency FHIR Implementation Guide. This is the current published version.
        It is based on <a href="{{ site.data.fhir.path }}">FHIR&reg; version {{ site.data.fhir.version }}</a>.
        See the <a href="/dh/history.html">Directory of published versions</a> for a list of available versions.</p>
    <!--EndReleaseHeader-->
