</div>  <!-- /container -->
</div>  <!-- /segment-breadcrumb -->

<div id="segment-content" class="segment">  <!-- segment-content -->
<div class="container">  <!-- container -->
<div class="row">
<div class="inner-wrapper">


<div class="col-12">

    <!--ReleaseHeader--><p id="publish-box">This page is part of the {{site.data.fhir.ig.title}} Implementation Guide {{site.data.fhir.ig.version}}. It is based on <a href="{{ site.data.fhir.path }}">FHIR version {{ site.data.fhir.version }}</a>. See the <a href="https://www.digitalhealth.gov.au/fhir/dh/history.html">Directory of published versions</a> for a list of available previous versions.</p><!--EndReleaseHeader-->