</div>  <!-- /container -->
</div>  <!-- /segment-breadcrumb -->

<div id="segment-content" class="segment">  <!-- segment-content -->
<div class="container">  <!-- container -->
<div class="row">
<div class="inner-wrapper">


    <div class="col-12">
        
        <!--ReleaseHeader--><p id="publish-box">Australian Digital Health Agency FHIR - Local Development build ({{site.data.fhir.ig.version}}). See the <a href="https://fhir.digitalhealth.gov.au/dh/history.html">Directory of published versions</a>.</p><!--EndReleaseHeader-->
        