 <div id="segment-header" class="segment">  <!-- segment-header -->
  <div class="container">  <!-- container -->
   <table cellspacing=0 cellpadding=0 border=0 style="width:100%">
    <tr>
     <td style="width:382px"><a id="logo" no-external="true" href="https://www.digitalhealth.gov.au/"><img alt="Agency logo" src="assets/images/adha-logo-dark.svg"/></a></td>
     <td style="vertical-align:middle; text-align:left;">  
      <div id="ig-status">
      <b>{{site.data.fhir.ig.title}} Implementation Guide {{ site.data.fhir.ig.version }}</b>
     </div></td>
    </tr>
   </table>
   
<!--   <a id="logo" no-external="true" href="https://www.digitalhealth.gov.au/"><img alt="Agency logo" src="assets/images/adha-logo-dark.svg"/></a>

   <div id="ig-status">
    <b>{{site.data.fhir.ig.title}} Implementation Guide {{ site.data.fhir.ig.version }}</b>
</div>-->

  </div>
  <div class="container">  <!-- container -->
 </div>
 </div>  <!-- /segment-header -->

 <div id="segment-navbar" class="segment">  <!-- segment-navbar -->
  <div id="stripe"> </div>
  <div class="container">  <!-- container -->
   <!-- HEADER CONTENT -->

   <nav class="navbar navbar-inverse">
    <div class="container">
     <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button">
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
      <span class="icon-bar"> </span>
     </button>
     <a class="navbar-brand hidden" href="{{ site.data.fhir.path }}/index.html">FHIR</a>
     <div class="nav-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
       <li><a href="conformance.html">Conformance</a></li>
       <li><a href="guidance.html">Guidance</a></li>
       <!--<li><a href="conformance.html">Capability Statements</a></li>-->
        <li><a href="profiles.html">Profiles and Extensions</a></li>
        <!--<li><a href="extensions.html">Extensions</a></li>-->
       <!--<li><a href="mappings.html">Resources</a></li>-->
       <!--<li><a href="terminology.html">Terminology</a></li>-->
       <!--<li><a href="structuremaps.html">Maps</a></li>-->
        <!--<li><a href="searchparams.html">Search Parameters and Operations</a></li>-->
        <!--<li><a href="capstatements.html">Capability Statements</a></li>-->
        <!--<li><a href="security.html">Security</a></li>-->
        <li><a href="downloads.html">Downloads</a></li>
       <li><a href="disclaimers.html">Disclaimers</a></li>
       <li><a href="changes.html">Change Log</a></li>
      </ul>
     </div>  <!-- /.nav-collapse -->
    </div>  <!-- /.container -->
   </nav>  <!-- /.navbar -->

  <!-- /HEADER CONTENT -->
  </div>  <!-- /container -->
 </div>  <!-- /segment-navbar -->
