<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
     <li>
          <a href="index.html">Home</a>
     </li>
     <li>
          <a href="policy.html">Policy</a>
     </li>
     <li>
          <a href="conformance.html">Conformance</a>
     </li>
     <li>
          <a href="guidance.html">Guidance</a>
     </li>
     <li class="dropdown">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artefacts
               <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
               <li>
                    <a href="profiles.html">Profiles and Extensions</a>
               </li>
               <li>
                    <a href="searchparams.html">Search Parameters and Operations</a>
               </li>
               <li>
                    <a href="capstatements.html">Capability Statements</a>
               </li>
               <li>
                    <a href="namingsys.html">NamingSystems</a>
               </li>
               <li>
                    <a href="terminology.html">Terminology</a>
               </li>
               <li>
                    <a href="structuremaps.html">Maps</a>
               </li>
          </ul>
     </li>
     <li>
          <a href="examples.html">Examples</a>
     </li>
     <li>
          <a href="downloads.html">Downloads</a>
     </li>
     <li>
          <a href="disclaimers.html">Disclaimers</a>
     </li>
</ul> 
