/*
 * These are changes made by Darian in 2 other stylesheets that should not be tampered with 
 * and have been removed and put here in a new stylesheet. 
*/
.navbar-inverse {
  background-color: #1E6DB6;
}
#stripe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8px;
  background: #1E6DB6;
}
